[Unit]
Description=VIDOS Updater Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/VIDOS/release/os/Updater.sh
User=root
Group=root
WorkingDirectory=/opt
StandardOutput=journal
StandardError=journal
RemainAfterExit=no
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
