[Unit]
Description=STARTS VIDOS RELEASE VERSION
DefaultDependencies=false
StartLimitIntervalSec=0

[Service]
TTYPath=/dev/tty1
PAMName=systemd-user
Type=simple
ExecStart=/home/pi/Documents/VIDOS-release/LaunchVidos.sh
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
